<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a New Place</title>
  </head>
  <body>
    <form action="/places" method="post">
      <label for ="new-place">Add a new place</label>
      <input id ="new-place" name="new-place" type="text" required>
      <button type="submit">Submit</button>
    </form>
    <a href="/places">View All Places</a>
    <a href="/">Home</a>
  </body>
</html>
