<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Places I've Been</title>
  </head>
  <body>
    <a href="/add_place">Add a New Place</a>
    <a href="/places">View All Places</a>
  </body>
</html>
